{% load static %}

<div class="calendar-day-container rounded">
    <a href="{% url 'edit_calendar' calendar_info.id 0 %}" class="calendar-day-title text-decoration-none">Vista
        completa</a>
    <div class="days-container">
        {% for day in days_info %}
            {% if day.0 == current_day %}
                <a href="{% url 'edit_calendar' calendar_info.id day.2 %}"
                   class="calendar-day-title text-decoration-none mb-3 bg-primary text-light rounded">{{ current_day }}</a>
            {% else %}
                <a href="{% url 'edit_calendar' calendar_info.id day.2 %}"
                   class="calendar-day-title text-decoration-none mb-3">{{ day.0 }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="times">
        <div class="morning">
            Mañana
        </div>
        <div class="afternoon">
            Tarde
        </div>
        <div class="night">
            Noche
        </div>
    </div>
    <div class="events-container">
        {% for day in days_info %}
            {% if day.0 == current_day %}
                {% for event in day.1 %}
                    <div class="calendar-block-day m-0" data-day="{{ event.1.0 }}" data-group="{{ event.1.1 }}"
                         data-division="{{ event.1.2 }}">
                        <img class="rounded mx-auto d-block" src="{{ event.0.photo.url }}" alt="{{ event.0 }}"
                             height="64px" width="64px">
                        <p>
                            {{ event.0.description }}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
