{% load static %}
{# Recomendación revisar las views para saber que datos tienen #}
<div class="calendar-main-container rounded">
    <div class="calendar-day-column initial-column">
        <p class="calendar-day-title"></p>
        <p class="calendar-block-expanded m-1 morning"><span>🌞 Mañana 🌞</span></p>
        <p class="calendar-block-expanded m-1 afternoon"><span>🌇 Tarde 🌇</span></p>
        <p class="calendar-block-expanded m-1 night"><span>🌙 Noche 🌙</span></p>
    </div>
    {% for day in days_info %}
        <div class="calendar-day-column">
            <a href="{% url 'edit_calendar' calendar_info.id day.2 %}"
               class="calendar-day-title text-decoration-none text-center mb-3">{{ day.0 }}</a>
            {% for event in day.1 %}
                <p class="calendar-block m-1" data-day="{{ event.1.0 }}" data-group="{{ event.1.1 }}"
                   data-division="{{ event.1.2 }}">
                    <img class="rounded mx-auto d-block" src="{{ event.0.photo.url }}" alt="{{ event.0 }}"
                         height="100%">
                </p>
            {% endfor %}
        </div>
    {% endfor %}
</div>