{% load static %}
{# Recomendación revisar las views para saber que datos tienen #}
<div class="calendar-main-container">
    {% for day in days_info %}
        <div class="calendar-day-column">
            <a href="{% url 'edit_calendar' calendar_info.id day.2 %}"
               class="calendar-day-title text-decoration-none">{{ day.0 }}</a>
            {% for event in day.1 %}
                <p class="calendar-block" data-day="{{ event.1.0 }}" data-group="{{ event.1.1 }}"
                   data-division="{{ event.1.2 }}">
                    <img src="{{ event.0.photo.url }}" alt="{{ event.0 }}" height="32px" width="32px">
                </p>
            {% endfor %}
        </div>
    {% endfor %}
</div>