* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #fff2b8;
    --border-color: #e9966d;
    --bg-element: #ffd862;
}

body {
    height: 100vh;
    min-height: 100vh;
}

main {
    width: 100%;
    height: calc(100vh - 64px);
    background-color: var(--bg-color);
}

.navbar-color {
    background-color: var(--bg-element);
    border-bottom: var(--border-color) solid 2px;
}

.nav-bar {
    background-color: var(--bg-element);
    height: 64px;
    min-height: 64px;
    border-bottom: var(--border-color) solid 2px;
}

.div-nav-bar p {
    padding: 16px;
    display: flex;
    align-items: center;
}

.nav-bar-logo {
    padding: 8px
}

.hidden {
    display: none;
}

.landscape {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

@media (max-width: 800px) {
    .nav-bar {
        height: auto;
    }

    .nav-bar * {
        margin-bottom: 4px;
    }

    main {
        min-height: calc(100vh - 64px);
        height: 100%;
    }
}