* {
    padding: 0;
    margin: 0;
}


body {
    height: 100vh;
    min-height: 100vh;
}

main {
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #fede54;
}

.navbar-color {
    background-color: #feca4a;
    border-bottom: #f8b351 solid 2px;
}

.nav-bar {
    background-color: #feca4a;
    height: 64px;
    border-bottom: #f8b351 solid 2px;
}

.div-nav-bar p {
    padding: 16px;
    display: flex;
    align-items: center;
}

.nav-bar-logo {
    padding: 8px
}

.hidden {
    display: none;
}