main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    display: flex;
    background-color: var(--bg-color);
    border: var(--border-color) solid 2px;
    padding: 16px;
}

.calendar-container a {
    padding: 0 8px;
}

.day-container {
    padding: 16px;
    text-align: center;
}

.day-title {
    padding: 4px 0;
}

.hexagon {
    display: block;
    /*-webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);*/
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
