main {
    display: flex;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-calendar-container{
    height: 100%;
    width: 75%;
}

.events-container{
    background-color: #feca4a;
    height: 100%;
    width: 25%;
    border-left: #f8b351 solid 2px;
}

.event-element{
    padding: 8px;
}

.calendar-container {
    display: flex;
}

.calendar-container a{
    padding: 0 8px;
}

.day-container {
    padding: 16px;
    text-align: center;
}

.day-title{
    padding: 4px 0;
}