.view-calendar-container {
    height: 248px;
    width: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-element);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

.border {
    height: 252px;
    width: 252px;
    background-color: var(--border-color) !important;
}

.view-calendar-container p, .view-calendar-container a {
    padding: 2px;
}