main {
    display: flex;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center
}

.main-calendar-container {
    justify-content: center;
    padding: 12px;
    height: 100%;
    width: 75%;
    overflow-x: auto;
}

.event-element {
    padding: 8px;
}

.calendar-container {
    display: flex;
}

.calendar-container a {
    padding: 0 8px;
}

/*
.in-movement {
    position: absolute;
}*/