.calendar-main-container {
    display: flex;
    overflow: auto;
    background-color: var(--bg-element);
    border: var(--border-color) solid 2px;
    padding: 16px;
}

.calendar-day-container {
    display: flex;
    flex-direction: column;
}

.calendar-day-column {
    display: flex;
    flex-direction: column;
    width: 128px;
    text-align: center;
}

.calendar-day-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    text-wrap: wrap;
    height: 32px;
}

.calendar-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100%;
}

.calendar-block-expanded {
    height: calc(7vh * 3 + .25rem * 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-block-expanded span {
    transform: rotate(270deg);
}

.initial-column {
    width: 48px;
}

.days-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edit-container {
    background-color: var(--bg-element);
    width: 25%;
    border-left: var(--border-color) solid 2px;
}

.list-events {
    overflow-y: auto;
}

.events-container {
    display: flex;
    flex-direction: row;
}

.morning {
    background-color: rgb(168, 235, 253);
    color: rgb(20, 30, 41);
}

.afternoon {
    background-color: rgb(255, 125, 246);
    color: rgb(20, 30, 41);
}

.night {
    background-color: rgb(44, 34, 150);
    color: white;
}

@media (orientation: portrait) {
    main {
        display: none !important;
    }

    .landscape {
        display: flex !important;
    }
}