main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    display: flex;
}
.calendar-container a{
    padding: 0 8px;
}

.day-container {
    padding: 16px;
    text-align: center;
}

.day-title{
    padding: 4px 0;
}
