.calendar-main-container{
    display: flex;
    background-color: #feca4a;
    border: #f8b351 solid 2px;
    padding: 16px;
}

.calendar-day-container{
    display: flex;
    flex-direction: column;
}

.calendar-day-column{
    display: flex;
    flex-direction: column;
    width: 128px;
    text-align: center;
}

.calendar-day-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;
    text-wrap: wrap;
    height: 32px;
}

.calendar-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100%;
}

.days-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.events-container{
    display: flex;
    flex-direction: row;
}
