main {
    display: flex;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center
}

.main-calendar-container {
    justify-content: center;
    height: 100%;
    width: 75%;
}

.events-container {
    background-color: var(--bg-element);
    height: 100%;
    width: 25%;
    border-left: var(--border-color) solid 2px;
}

.event-element {
    padding: 8px;
}

.calendar-container {
    display: flex;
}

.calendar-container a {
    padding: 0 8px;
}

/*
.in-movement {
    position: absolute;
}*/