.calendar-main-container {
    display: flex;
    background-color: var(--bg-element);
    border: var(--border-color) solid 2px;
    padding: 12px;
    margin: 8px auto;
}

.outer-container {
    padding: 12px;
    overflow-x: auto;
    width: 100%;
}

.calendar-day-container {
    display: flex;
    width: min-content;
    flex-direction: column;
    background-color: var(--bg-element);
    border: var(--border-color) solid 2px;
    padding: 12px;
    margin: 8px auto;
}

.calendar-day-column {
    display: flex;
    flex-direction: column;
    width: 128px;
    text-align: center;
}

.calendar-day-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    text-wrap: wrap;
    height: 32px;
}

.complete-view {
    margin-bottom: 8px !important;
}

.calendar-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100%;
}

.calendar-block-expanded {
    height: calc(7vh * 3 + .25rem * 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-block-expanded span {
    position: absolute;
    transform: rotate(270deg);
    display: flex;
    flex-direction: column;
    width: auto !important;
}

.calendar-block-day {
    padding: 4px;
    width: 150px;
    height: auto;
}

.calendar-block-day p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 !important;
    padding: 4px;
    min-height: 50px;
}

.times {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.times div {
    text-align: center;
    padding: 4px;
    margin: 0 2px !important;
    width: calc(100% / 3);
}

.initial-column {
    width: 48px;
}

.days-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edit-container {
    background-color: var(--bg-element);
    width: 25%;
    border-left: var(--border-color) solid 2px;
}

.list-events {
    overflow-y: auto;
}

.events-container {
    display: flex;
    flex-direction: row;
}

.morning {
    background-color: rgb(168, 235, 253);
    color: rgb(20, 30, 41);
}

.afternoon {
    background-color: rgb(255, 125, 246);
    color: rgb(20, 30, 41);
}

.night {
    background-color: rgb(44, 34, 150);
    color: white;
}

@media (orientation: portrait) {
    main {
        display: none !important;
    }

    .landscape {
        display: flex !important;
    }
}

@media (max-width: 1000px) or (max-height: 600px) {
    .form-search-event {
        margin: 0 !important;
    }

    .calendar-block {
        display: none !important;
    }

    .initial-column {
        display: none !important;
    }

    .calendar-main-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .calendar-day-title {
        padding: 4px 12px !important;
        margin: 2px !important;
    }

    .complete-view {
        margin-bottom: 8px !important;
    }

    #form-search {
        display: none;
    }

    #delete-block {
        margin: 0 !important;
    }
}