{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    {# Puse colores para probar y un logo 4K - B #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abejjas</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    {% block head %}

    {% endblock %}
</head>
<body>
    <div class="nav-bar">
        <div class="div-nav-bar">
            <img class="nav-bar-logo" src="{% static 'images/icon.png' %}" alt="LOGO BACAN" height="48px" width="48px">
            <p>ABEJJAS</p>
            {% block left-bar %}

            {% endblock %}
        </div>
        <div class="div-nav-bar">
            {% block right-bar %}

            {% endblock %}
        </div>
    </div>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <div class="hidden">
        {# Solo se usa para backend principalmente - B #}
        {% block hidden %}
        	
        {% endblock %}
    </div>
</body>
</html>