{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!--
     LOS COLORES LOS PUSE PA TESTEAR NOMAS
     Luego los podemos cambiar - Benja
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abejjas</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}

    {% endblock %}
</head>
<body>
    <div class="nav-bar">
        <div class="div-nav-bar">
            <p>ABEJJAS</p>
            {% block left-bar %}

            {% endblock %}
        </div>
        <div class="div-nav-bar">
            {% block right-bar %}

            {% endblock %}
        </div>
    </div>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>