{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block left-bar %}

{% endblock %}


{% block right-bar %}

{% endblock %}


{% block content %}
    <div class="cover-div text-center mx-auto align-center">
        <img src="{% static 'images/cover.png' %}" alt="Logo" class="p-5 cover" height="280px">
    </div>
    <div class="card text-center w-75 mx-auto align-center">
        <div class="card-header">
            ABEJJAS
        </div>
        <div class="card-body">
            <h5 class="card-title"> ¡Hola Abejita!</h5>
            <p class="card-text">Para comenzar, te damos la bienvenida a ABEJJAS nuestra app web, donde podrás crear
                agendas semanales con imágenes. Te recomendamos que lo uses con tu tutor/a. Haz click abajo y podrás
                comenzar.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">¡Comenzar!</a>
        </div>
        <div class="card-footer text-body-secondary">
            :)
        </div>
    </div>

{% endblock %}


{% block hidden %}

{% endblock %}