{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
    <link rel="stylesheet" href="{% static 'css/testing_calendar_elements.css' %}">
{% endblock %}

{% block left-bar %}
    <div class="me-3">{{ calendar_info }}</div>
{% endblock %}

{% block right-bar %}
    <ul class="nav nav-pills d-flex flex-wrap justify-content-center align-items-center">
        <li class="nav-item me-3">
            <a href="{% url 'edit_calendar' calendar_info.id type_view %}" class="nav-link active active"
               aria-current="page">Editar ✏️</a>
        </li>
        <li class="nav-item me-3">
            <a href="{% url 'google_calendar:export_options' calendar_info.id %}" class="nav-link active btn-success">Exportar a Google 🚀</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'select_calendar' %}" class="nav-link active active" aria-current="page"> Volver al
                Inicio ⬅️</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% include calendar_comp %}
{% endblock %}