{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing_calendar_edit.css' %}">
    <script src="{% static 'js/testing_edit_calendar.js' %}"></script>
{% endblock %}

{% block left-bar %}
	<p><a href="{% url 'select_calendar' %}">Volver al inicio</a></p>
    {{ message }}
{% endblock %}

{% block right-bar %}
	<p><a href="{% url 'undo_events' info.id %}">Deshacer cambios</a></p>
    <p><a href="{% url 'confirm_events' info.id %}">Confirmar</a></p>
{% endblock %}

{% block content %}
    <div class="main-calendar-container centered">
        <div class="calendar-container">
            <div class="day-container">
                <p class="day-title">Lunes</p>
                {% for event in monday %}
                    <p><a href="javascript:SetLocation({{ event.1.0 }}, {{ event.1.1 }}, {{ event.1.2 }})">{{ event.0 }}</a></p>
                {% empty %}
                    <p>ta vacio lol</p>
                {% endfor %}
            </div>
            <div class="day-container">
                <p class="day-title">Martes</p>
                {% for event in tuesday %}
                    <p><a href="javascript:SetLocation({{ event.1.0 }}, {{ event.1.1 }}, {{ event.1.2 }})">{{ event.0 }}</a></p>
                {% empty %}
                    <p>ta vacio lol</p>
                {% endfor %}
            </div>
            <div class="day-container">
                <p class="day-title">Miercoles</p>
                {% for event in wednesday %}
                    <p><a href="javascript:SetLocation({{ event.1.0 }}, {{ event.1.1 }}, {{ event.1.2 }})">{{ event.0 }}</a></p>
                {% empty %}
                    <p>ta vacio lol</p>
                {% endfor %}
            </div>
            <div class="day-container">
                <p class="day-title">Jueves</p>
                {% for event in thursday %}
                    <p><a href="javascript:SetLocation({{ event.1.0 }}, {{ event.1.1 }}, {{ event.1.2 }})">{{ event.0 }}</a></p>
                {% empty %}
                    <p>ta vacio lol</p>
                {% endfor %}
            </div>
            <div class="day-container">
                <p class="day-title">Viernes</p>
                {% for event in friday %}
                    <p><a href="javascript:SetLocation({{ event.1.0 }}, {{ event.1.1 }}, {{ event.1.2 }})">{{ event.0 }}</a></p>
                {% empty %}
                    <p>ta vacio lol</p>
                {% endfor %}
            </div>
            <div class="day-container">
                <p class="day-title">Sabado y Domingo</p>
                {% for event in saturday_and_sunday %}
                    <p><a href="javascript:SetLocation({{ event.1.0 }}, {{ event.1.1 }}, {{ event.1.2 }})">{{ event.0 }}</a></p>
                {% empty %}
                    <p>ta vacio lol</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="events-container centered">
        <p class="event-element">Eventos</p>
        <ul>
            {% for event in events %}
                <li class="event-element"><a href="javascript:SetEvent({{ event.id }})">{{ event.name }}</a></li>
            {% empty %}
                <p>No hay eventos XD</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block hidden %}
    <form action="{% url 'add_event' info.id %}" method="POST" id="form-event_connector">
        {% csrf_token %}
        {{ form }}
    </form>
{% endblock %}
