{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing_calendar_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/testing_calendar_elements.css' %}">
{% endblock %}

{% block left-bar %}
    <div>{{ calendar_info }}</div>
{% endblock %}

{% block right-bar %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end me-2 mb-0">
            <li class="page-item"><a class="page-link bg-primary text-light"
                                     href="{% url 'undo_events' calendar_info.id %}">Deshacer
                cambios ↩️</a>
            </li>
            <li class="page-item"><a class="page-link bg-primary text-light"
                                     href="{% url 'confirm_events' calendar_info.id %}">Confirmar 👌</a>
            </li>
            <li class="page-item"><a class="page-link bg-primary text-light"
                                     href="{% url 'view_calendar' calendar_info.id 0 %}">Volver 🔁</a>
            </li>
        </ul>
    </nav>

{% endblock %}

{% block content %}
    <div class="main-calendar-container centered">
        {% include calendar_comp %}
    </div>
    <div class="edit-container centered">
        <p class="event-element m-1">Imágenes 🖼️</p>
        <div class="d-flex">
            <form class="my-2 me-3">
                <input id="form-search" class="form-control" type="search" placeholder="Buscar" onkeyup="Search()">
            </form>
            <p id="delete-block" class="event-block test-danger rounded"
               data-id="{{ delete_event.id }}"
               data-name="{{ delete_event.name }}"
               draggable="true">
                <img class="rounded text-bg-danger p-2" src="{% static 'images/erase_icon.png' %}" alt="" height="50px"
                     width="50px">
            </p>
        </div>
        <ul class="row row-cols-auto p-3 w-100 justify-content-center list-events">
            {% for event in events %}
                <li class="event-element event-block col text-decoration-none list-group-item m-2 p-1"
                    data-id="{{ event.id }}"
                    data-name="{{ event.name }}"
                    draggable="true">
                    <img class="rounded mx-auto d-block" src="{{ event.photo.url }}" alt="{{ event.name }}"
                         height="96px" width="96px">
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block hidden %}
    <form action="{% url 'add_event' calendar_info.id type_view %}" method="POST" id="form-event_connector">
        {% csrf_token %}
        {{ form }}
    </form>
    <script src="{% static 'js/testing_edit_calendar.js' %}"></script>
{% endblock %}
