{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
    <link rel="stylesheet" href="{% static 'css/testing_select_calendar.css' %}">
{% endblock %}

{% block left-bar %}
    <p><a href="{% url 'create_calendar' %}">Crear Calendario</a></p>
{% endblock %}

{% block right-bar %}
    <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
{% endblock %}

{% block content %}

	{% for calendar in info %}
        <div class="view-calendar-container">
            <a href="{% url 'view_calendar' calendar.id %}">
                <img class="hexagon" src="{{ calendar.photo.url }}" alt="" height="128px" width="128px">
            </a>
            <p>{{ calendar.name }}</p>
            <a href="{% url 'delete_calendar' calendar.id %}">Eliminar</a>
        </div>
	{% empty %}
        <p>Esta un poco vacio :,v</p>
	{% endfor %}

{% endblock %}