{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
    <link rel="stylesheet" href="{% static 'css/testing_calendar_elements.css' %}">
{% endblock %}

{% block left-bar %}
	<p>{{ calendar_info }}</p>
{% endblock %}

{% block right-bar %}
    <p><a href="{% url 'edit_calendar' calendar_info.id %}">Editar</a></p>
	<p><a href="{% url 'select_calendar' %}">Volver al Inicio</a></p>
{% endblock %}

{% block content %}
	{% include type_view %}
{% endblock %}