{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
    <link rel="stylesheet" href="{% static 'css/testing_calendar_elements.css' %}">
{% endblock %}

{% block left-bar %}
    <div>{{ calendar_info }}</div>
{% endblock %}

{% block right-bar %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="{% url 'edit_calendar' calendar_info.id type_view %}" class="btn btn-primary active me-3"
               aria-current="page">Editar</a>

        </li>
        <li class="nav-item">
            <a href="{% url 'select_calendar' %}" class="btn btn-primary active me-3" aria-current="page"> Volver al
                Inicio</a>

        </li>
    </ul>
{% endblock %}

{% block content %}
    {% include calendar_comp %}
{% endblock %}