{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
{% endblock %}

{% block left-bar %}
	<p><a href="{% url 'select_calendar' %}">Volver al inicio</a></p>
{% endblock %}

{% block content %}

    <form action="{% url 'create_calendar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <p>{{ message }}</p>
        <button><a type="submit">Crear</a></button>
    </form>

{% endblock %}