{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
{% endblock %}

{% block left-bar %}
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'select_calendar' %}">Volver al Inicio</a>
            <button><a type="button" class="btn btn-success">Volver al Inicio</button>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <form action="{% url 'create_calendar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="button" class="btn btn-info">Crear</button>
    </form>

{% endblock %}