{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
{% endblock %}

{% block left-bar %}
    <div class="btn-group">
        <a href="{% url 'select_calendar' %}" class="btn btn-primary active" aria-current="page">Volver al inicio</a>
    </div>
{% endblock %}

{% block content %}

    <form action="{% url 'create_calendar' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Crear</button>
    </form>

{% endblock %}