{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/testing.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            <div class="form-text">{{ form.username.help_text }}</div>
            <div class="form-text">
                {{ form.username.errors }}
            </div>
            <input type="text" name="username" class="form-control" autofocus autocapitalize="none"
                   autocomplete="username" maxlength="150" required id="username">
        </div>
        <div class="mb-3">
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            <div class="form-text">{{ form.password1.help_text }}</div>
            <div class="form-text">
                {{ form.password1.errors }}
            </div>
            <input type="password" name="password1" autocomplete="new_password" class="form-control" required
                   id="password1">
        </div>
        <div class="mb-3">
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            <div class="form-text">{{ form.password2.help_text }}</div>
            <div class="form-text">
                {{ form.password2.errors }}
            </div>
            <input type="password" name="password2" autocomplete="new_password" class="form-control" required
                   id="password2">
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">❗ Regístrate ❗</button>
        </div>
    </form>
    <br>
    <p>{{ message }}</p>
    <br>
    <a class="btn btn-outline-secondary" href="{% url 'login' %}" role="button">Iniciar sesión</a>
{% endblock %}

