{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABEJJAS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand align-content-center">
                <img src="{% static 'images/icon.png' %}" alt="Logo"  width="24" height="24" class="d-inline-block align-text-top">
                Abejjas
            </a>
        </div>
    </nav>
<h1>usemoslo pa experimentar</h1>
</body>
</html>